html {
    font-size: 62.5%;
    font-family: $font-default;
    background: #fcfcfc;
    color: #2c2c2c;
}

a {
    color: color(main);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.clearfix {
    &::after {
        display: block;
        clear: both;
        overflow: hidden;
        height: 0;
        content: '';
    }
}

